<% include partials/header %>

<div class="container">
  <div class="content">
    <h1>Landing Page!</h1>

    <p>Welcome to YelpCamp</p>

    <a href="/campgrounds" class="gotocamp">View All Campgrounds</a>
  </div>
</div>

<% include partials/footer %>
